td {
    border: 1px solid black;
    height: 100px;
    background-color: black;
    color: white;
    text-decoration: underline;
    text-align: center;
    
}

table {
    margin-left: 40%;
    margin-top: 10%;
    width: 400px;
}

h1 {
    margin-left: 11%;
    text-align: center;
}